/Inspection.Apis/bin
/Inspection.Apis/obj
/Inspection.Data/bin
/Inspection.Data/obj
/Inspection.Services/bin
/Inspection.Services/obj
/InspectionCore.Apis/bin
/InspectionCore.Apis/obj
/InspectionCore.Common/bin
/InspectionCore.Common/obj
/InspectionCore.Reposiotories/bin
/InspectionCore.Reposiotories/obj
/InspectionCore.Services/bin
/InspectionCore.Services/obj
/.vs
